{
    email yasha.ekt@gmail.com
}

spectra.yashaektefaie.com, mcp.spectra.yashaektefaie.com {
	handle /mcp* {
		reverse_proxy 127.0.0.1:8000 {
			header_up Host {upstream_hostport}
		}
	}

	handle_path /downloads/* {
		root * /home/yektefai/spectra-knowledge-mcp/data/public_downloads
		header {
			Access-Control-Allow-Origin "*"
			X-Content-Type-Options "nosniff"
		}
		file_server
	}

	handle {
		root * /home/yektefai/spectra-knowledge-mcp/site
		file_server
	}
}
